[submodule "xgrammar"]
	path = xgrammar
	url = https://github.com/mlc-ai/xgrammar.git
[submodule "build/wasi-sdk"]
	path = crates/legacy/build/wasi-sdk
	url = https://github.com/WebAssembly/wasi-sdk.git
